@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regla para usar una font descargada a la pc */
@font-face {
  font-family: "Hoodson";
  src: url(../assets/font/hoodson.ttf);
}
@font-face {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
}
/*Body*/
.imagen-fondo {
  background-image: url(../assets/images/fondo.jpg);
  background-size: contain;
}

/*header*/
.container-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "logo nav";
}

.logo {
  grid-area: logo;
  padding: 0px 0px 0px 0px;
}

.logo img {
  width: 200px;
  height: auto;
}

/*NAV*/
.nav-item {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
}

.navbar-brand img {
  display: none;
  width: 40px;
}

.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

/*Index*/
.conteiner-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "texto imagen";
  max-width: 1200px;
  width: 90%;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
  /*background-color: #FAE3E1;*/
  background-image: radial-gradient(#FAEDEB, #EDB9B4);
}

.texto {
  grid-area: "texto";
  padding: 20px 20px 20px 20px;
}

.titulo-seccion {
  font-family: "Hoodson";
  src: url(../assets/font/hoodson.ttf);
  color: #6B5344;
  font-size: 40px;
}

.texto-inicio {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  line-height: 180%;
  padding-right: 20px;
  margin-top: 20px;
  text-align: justify;
}

.imagen-inicio img {
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 20px;
}

/*Carrusel*/
.carrusel-inicio {
  padding: 15% 5% 5% 5%;
}

.imagen-mano {
  padding-top: 3%;
  padding-left: 85%;
  position: fixed;
  z-index: 100;
  transition: all 5s;
}
.imagen-mano img {
  height: 500px;
}

/*footer*/
.footer {
  color: #6B5344;
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  font-size: 12px;
  margin-left: 0%;
  padding: 1.5% 1% 1% 1%;
  text-align: center;
}

/*Invitaciones*/
.conteiner-invitaciones, .conteiner-contacto, .conteiner-trabajos, .conteiner-infantiles {
  max-width: 1200px;
  width: 90%;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  background-color: #FAE3E1;
  align-items: center;
  align-content: center;
}

.container-color {
  background-color: #FAE3E1;
}

.titulo-aclaracion, .titulo-aclaracion-infantiles {
  display: inline-flex;
  flex-direction: row;
}

.titulo-seccion-invitaciones, .titulo-seccion-trabajos, .titulo-seccion-infantiles {
  font-family: "Hoodson";
  color: #6B5344;
  font-size: 50px;
  padding: 20px 10px 10px 20px;
}

.aclaracion-invitaciones, .aclaracion-infantiles {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  padding: 40px 10px 10px 10px;
}

.diseños-personalizados, .diseños-personalizados-infantiles {
  position: absolute;
  z-index: 100;
  padding-top: 2%;
  padding-left: 70%;
}
.diseños-personalizados img, .diseños-personalizados-infantiles img {
  width: 80%;
}

/*CARDS INVITACIONES*/
.color-card {
  background-color: #FAE3E1;
}

.invitacion-card-uno, .infantiles-card-nueve, .infantiles-card-ocho, .infantiles-card-siete, .infantiles-card-seis, .infantiles-card-cinco, .infantiles-card-cuatro, .infantiles-card-tres, .infantiles-card-dos, .infantiles-card-uno, .invitacion-card-seis, .invitacion-card-cinco, .invitacion-card-cuatro, .invitacion-card-tres, .invitacion-card-dos {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invitacion-card-uno img, .infantiles-card-nueve img, .infantiles-card-ocho img, .infantiles-card-siete img, .infantiles-card-seis img, .infantiles-card-cinco img, .infantiles-card-cuatro img, .infantiles-card-tres img, .infantiles-card-dos img, .infantiles-card-uno img, .invitacion-card-seis img, .invitacion-card-cinco img, .invitacion-card-cuatro img, .invitacion-card-tres img, .invitacion-card-dos img {
  width: 100%;
}
.invitacion-card-uno img:hover, .infantiles-card-nueve img:hover, .infantiles-card-ocho img:hover, .infantiles-card-siete img:hover, .infantiles-card-seis img:hover, .infantiles-card-cinco img:hover, .infantiles-card-cuatro img:hover, .infantiles-card-tres img:hover, .infantiles-card-dos img:hover, .infantiles-card-uno img:hover, .invitacion-card-seis img:hover, .invitacion-card-cinco img:hover, .invitacion-card-cuatro img:hover, .invitacion-card-tres img:hover, .invitacion-card-dos img:hover {
  z-index: 100;
  transform: scale(1.2);
}
.invitacion-card-uno h5, .infantiles-card-nueve h5, .infantiles-card-ocho h5, .infantiles-card-siete h5, .infantiles-card-seis h5, .infantiles-card-cinco h5, .infantiles-card-cuatro h5, .infantiles-card-tres h5, .infantiles-card-dos h5, .infantiles-card-uno h5, .invitacion-card-seis h5, .invitacion-card-cinco h5, .invitacion-card-cuatro h5, .invitacion-card-tres h5, .invitacion-card-dos h5 {
  font-family: "Malgun";
  font-size: 16px;
  text-align: center;
  color: #6B5344;
}
.invitacion-card-uno P, .infantiles-card-nueve P, .infantiles-card-ocho P, .infantiles-card-siete P, .infantiles-card-seis P, .infantiles-card-cinco P, .infantiles-card-cuatro P, .infantiles-card-tres P, .infantiles-card-dos P, .infantiles-card-uno P, .invitacion-card-seis P, .invitacion-card-cinco P, .invitacion-card-cuatro P, .invitacion-card-tres P, .invitacion-card-dos P {
  font-family: "Malgun";
  font-size: 10px;
  text-align: center;
  color: #6B5344;
}

/*INFANTILES*/
/*Fotos*/
/*TRABAJOS*/
.titulo-aclaracion-trabajos {
  display: inline-flex;
  flex-direction: row;
}

.aclaracion-trabajos {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  padding: 40px 10px 10px 10px;
}

/*Fotos*/
.trabajos-card-uno {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.trabajos-card-uno img {
  width: 100%;
  height: auto;
}

.trabajos-card-uno h5 {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 20px;
}

.trabajos-card-uno P {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

.trabajos-card-dos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.trabajos-card-dos img {
  width: 100%;
  height: auto;
}

.trabajos-card-dos h5 {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 20px;
}

.trabajos-card-dos P {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

.trabajos-card-tres {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.trabajos-card-tres img {
  width: 100%;
  height: auto;
}

.trabajos-card-tres h5 {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 20px;
}

.trabajos-card-tres P {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

/*Contacto*/
.contacto-titulo {
  font-family: "Hoodson";
  color: #6B5344;
  font-size: 40px;
  padding: 20px 10px 10px 20px;
}

.contacto-titulo h2 {
  font-family: "Hoodson";
  src: url(../assets/font/hoodson.ttf);
  color: #6B5344;
  font-size: 60px;
  padding: 20px 10px 10px 20px;
}

.contacto-texto {
  padding: 10px 100px 10px 30px;
}

.contacto-texto p {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 14px;
  text-align: left;
  line-height: 200%;
}

.contacto-telefono {
  grid-area: telefono;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  padding: 100px 0px 0px 30px;
}

.contacto-telefono img {
  width: 30px;
}

.contacto-telefono p {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}

.contacto-mail {
  grid-area: mail;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  padding: 0px 0px 0px 30px;
}

.contacto-mail img {
  width: 30px;
}

.contacto-mail p {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}

.contacto-ig {
  grid-area: insta;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  padding: 10px 0px 0px 30px;
}

.contacto-ig img {
  width: 30px;
}

.contacto-ig p {
  margin-left: 5px;
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 12px;
  text-align: left;
}

.contacto-face {
  grid-area: face;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px 0px 30px;
}

.contacto-face img {
  width: 30px;
}

.contacto-face p {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}

/*Formulario*/
.formualario {
  grid-area: formulario;
  width: 600px;
  padding-top: 45px;
  padding-bottom: 20px;
}

.titulosformularios {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.textosformularios {
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  color: #6B5344;
  font-size: 12px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.boton {
  width: 100px;
  height: 50px;
  background-color: #BF8A8B;
  font-family: "Hoodson";
  src: url(../assets/font/hoodson.ttf);
  font-size: 18px;
  color: #FAE3E1;
  border: none;
}

.menu-desplegable {
  background-color: #BF8A8B;
  border: none;
  font-family: "Malgun";
  src: url(../assets/font/malgun.ttf);
  font-size: 12px;
  color: #FAE3E1;
}

/*# sourceMappingURL=estilos.css.map */
