
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Tipo*/
@import "_fonts.scss";

/*Colores*/
@import "_colores.scss";

/*Cards*/
@import "_cards.scss";


/* regla para usar una font descargada a la pc */
@font-face {
	font-family: 'Hoodson';
	src: url(../assets/font/hoodson.ttf);
}
@font-face {
	font-family: 'Malgun';
	src: url(../assets/font/malgun.ttf);
}

/*Body*/
.imagen-fondo{
    background-image: url(../assets/images/fondo.jpg);
    background-size: contain;
}

/*header*/


.logo{
    padding: 0px 0px 0px 0px;
}
.logo img{
    width: 200px;
    height: auto;
}

/*NAV*/

.navbar-toggler-icon {
    background-image: url(../assets/images/burgericondos.png) !important;

        .nav-item{
        font-family:$textos-general-font;
        color: $titulos-textos-color;  
        }
    

        .navbar-toggler {
            border: none;
            }
            
        .navbar-toggler:focus {
            box-shadow: none; 
        }

        .navbar-brand{
            display: flex;


            .ignav{
                margin-right: 0%;
                padding: 0%;
            }

            .facenav{
                margin-left: 0%;
                padding: 0%;
            }
            
        }

}
    







/*Index*/


.texto{
    grid-area: "texto";
    padding: 20px 20px 20px 20px;
}

.titulo-seccion{
    font-family:$titulos-principales-font;
    color: $titulos-textos-color;   
    font-size: 40px;
}

.texto-inicio{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
    font-size: 16px;
    line-height: 180%;
    padding-right: 20px;
    margin-top: 20px;
    text-align: justify;

}

.imagen-inicio img{
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;

}

/*Carrusel*/
.carrusel-inicio{
    padding: 15% 5% 5% 5%;
}

.imagen-mano{
    padding-top: 3%;
    padding-left: 85%;
    position: fixed;
    z-index: 100;
    transition:all 5s;

    img{
        height: 500px;
    }
}


/*footer*/
.footer {
    color: $titulos-textos-color;
    font-family: $textos-general-font;
    font-size: 12px;
    margin-left: 0%;
    padding: 1.5% 1% 1% 1%;
    text-align: center;
}



/*Invitaciones*/

.conteiner-invitaciones{
    max-width: 1200px;
    width: 90%;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    background-color: $conteiner-color;
    align-items: center;
    align-content: center;
}

.container-color{
    background-color:$conteiner-color;

}

// maps

$tamaños-tipos: (
    'titulos': 50px,
    'aclaraciones': 16px,
    'textos': 10px,
);

.titulo-aclaracion{
    display: inline-flex;
    flex-direction: row;
}

.titulo-seccion-invitaciones{
    font-family: $titulos-principales-font;
    color: $titulos-textos-color;   
    font-size: map-get($map: $tamaños-tipos, $key:'titulos');
    padding: 20px 10px 10px 20px;
}

.aclaracion-invitaciones{
    font-family:$textos-general-font;
    color:$titulos-textos-color;  
    font-size: map-get($map: $tamaños-tipos, $key:'aclaraciones');
    padding: 40px 10px 10px 10px;
}

.diseños-personalizados{
    position: absolute;
    z-index: 100;
    padding-top:  2%;
    padding-left: 70%;
    
    img{
        width: 80%;
    }
}

/*CARDS INVITACIONES*/
.color-card{
    background-color: $conteiner-color;
}

//Mixin
@mixin cards-h5 ($tipos-cards-color, $tipos-cards-font, 
$titulos-cards-tamaño,$textos-cards-alineacion) {
    font-family: $tipos-cards-font;
    font-size: $titulos-cards-tamaño;
    text-align: $textos-cards-alineacion;
    color: $tipos-cards-color;
}

@mixin cards-p ($tipos-cards-color, $tipos-cards-font, 
$textos-cards-tamaño, $textos-cards-alineacion) {
    font-family: $tipos-cards-font;
    font-size: $textos-cards-tamaño;
    text-align: $textos-cards-alineacion;
    color: $tipos-cards-color;
}



//Anidacion - Extend - Variables
.invitacion-card-uno{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    img{
        width: 100%;
        &:hover{
            z-index: 100;
            transform: scale(1.2);


        }
    }

    h5{
        @include cards-h5 ($tipos-cards-color, $tipos-cards-font, 
        $titulos-cards-tamaño,$textos-cards-alineacion);
    }
    
    P{
        @include cards-p ($tipos-cards-color, $tipos-cards-font, 
        $textos-cards-tamaño, $textos-cards-alineacion)
    }

}

.invitacion-card-dos{
    @extend .invitacion-card-uno;
}

.invitacion-card-tres{
    @extend .invitacion-card-uno;
}


.invitacion-card-cuatro{
    @extend .invitacion-card-uno;
}

.invitacion-card-cinco{
    @extend .invitacion-card-uno;
}


.invitacion-card-seis{
    @extend .invitacion-card-uno;
}


/*INFANTILES*/
.conteiner-infantiles{
    @extend .conteiner-invitaciones;
}

.titulo-aclaracion-infantiles{
    @extend .titulo-aclaracion;
}

.titulo-seccion-infantiles{
    @extend .titulo-seccion-invitaciones;
}

.aclaracion-infantiles{
    @extend .aclaracion-invitaciones;
}

.diseños-personalizados-infantiles{
    @extend .diseños-personalizados;
}


/*Articulos Seccion Infantiles*/

.infantiles-card-uno{
    @extend .invitacion-card-uno;
}

.infantiles-card-dos{
    @extend .invitacion-card-uno;
}

.infantiles-card-tres{
    @extend .invitacion-card-uno;
}

.infantiles-card-cuatro{
    @extend .invitacion-card-uno;
}

.infantiles-card-cinco{
    @extend .invitacion-card-uno;
}

.infantiles-card-seis{
    @extend .invitacion-card-uno;
}

.infantiles-card-siete{
    @extend .invitacion-card-uno;
}

.infantiles-card-ocho{
    @extend .invitacion-card-uno;
}

.infantiles-card-nueve{
    @extend .invitacion-card-uno;
}


/*TRABAJOS*/
.conteiner-trabajos{
    @extend .conteiner-invitaciones;
}


.titulo-aclaracion-trabajos{
    display: inline-flex;
    flex-direction: row;
}

.titulo-seccion-trabajos{
    @extend .titulo-seccion-invitaciones;
}

.aclaracion-trabajos{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
    font-size: 16px;
    padding: 40px 10px 10px 10px;
}

/*Fotos*/

.trabajos-card-uno{
    padding: 50px 10px 0px 10px ;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}
.trabajos-card-uno img{
    width: 100%;
    height: auto;
}
.trabajos-card-uno h5{
    font-family: $textos-general-font;
    font-weight: bolder;
    color: $titulos-textos-color;  
    font-size: 20px;
}

.trabajos-card-uno P{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.trabajos-card-dos{
    @extend .trabajos-card-uno;
}

.trabajos-card-tres{
    @extend .trabajos-card-uno;
}

/*Contacto*/
.conteiner-contacto{
    @extend .conteiner-invitaciones;
}

.contacto-titulo{
    font-family:$titulos-seccion-font;
    color: $titulos-textos-color;   
    font-size: 40px;
    padding: 20px 10px 10px 20px;
}

.contacto-titulo h2{
    font-family:$titulos-principales-font;
    color:$titulos-textos-color;   
    font-size: 60px;
    padding: 20px 10px 10px 20px;
}

.contacto-texto{
    padding: 10px 100px 10px 30px;

}

.contacto-texto p{
    font-family: $textos-general-font;
    color:$titulos-textos-color;  
    font-size: 14px;
    text-align: left;
    line-height: 200%;

}

/*Formulario*/

.titulosformularios{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.textosformularios{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
    font-size: 12px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*
.boton{
    width: 100px;
    height: 50px;
    background-color: #BF8A8B;
    font-family:$titulos-principales-font;
    font-size: 18px;
    color: $conteiner-color;
    border: none;
}
*/

.form-label{
    font-family: $textos-general-font;
    color: $titulos-textos-color;  
}





